<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>About</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis - v1.0.1
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{{ url_for('home') }}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="static/images/logo.png" alt="">
        <h1>AI Camp</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{{ url_for('home') }}" class="active">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a class="get-a-quote" href="{{ url_for('submit_file') }}">Try It Out</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="page-header d-flex align-items-center" style="background-image: url('static/images/overhead_lot_1.jpg');">
        <div class="container position-relative">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 text-center">
              <h2>About</h2>
            </div>
          </div>
        </div>
      </div>
      <nav>
        <div class="container">
          <ol>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li>About</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team pt-0">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <span>Our Team</span>
          <h2>Our Team</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="https://lh3.googleusercontent.com/twAUEddB7I3DWWpbsyjipyr5nkMonw_QzmEnNTog--KRXbo4M-ONbVHTeq8cSQbExL3546_6gfTTPLQJWlyerSmIWHPekP65pP_9mqLVPZnvHesJnmPjT1b9628Gl0Fqc9aY09IviH8ihReNDd9-GoIxpz_ZY0hTjJ5u4vykuEQni7LJIAdiXcoUIDn2Nmy76lL-1OpfRD9RSWFDAYJPpT8C_5-FJIazmgorXIE40doGuePPMHKdWOY9HxCro0YpFVR2dvXO4aat-aQU3xQ86Gqewwo-SC19vNC5a-xFFJw9n21FLxprBNBpTtTZV3bKtb3IbI4fQkTB3lBjuXj35SpaxnvkizzibpQYfbKWZyJbcEU9yViWmCP5rPnvRCxismS0wPitjsLGlXCMoM_fYyRP1DlDiaLMXjcw5aiXGKG3JzlCcJnolr20j-A3x5CBcXgGVaZQpj8dfttGxzSM9oqt9ZeOxVZSJXiHoXHt4UY9yG0roE3bRb_0dm75zkNmZbbgGAPFQrsMW0gQGGL3RZaLVnou6wiRQIvcKR_RbbGIBmCRnte_B0XPCwzTw14H41HREiRSPmXcVuX3cLh-T3325LYHzVZ86s1hKcJ0i65yCRAsxY9P9CiNWwn0oLjhRJbeXI5QluHdJED1fqPBt9VqCmTJKBZ4othqdTY2M0buooH81bitYlPmqSNrUZ2PwRvJvbylmJNTlllBJM9fpQLbBu3CFxqkNKUvKLMC-Iy4eHYTZT2ZO0WyD_Qr4A=s965-no?authuser=0" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Arya Pradhan</h4>
                <p>
                  Currently a junior at Ardrey Kell Highschool. Worked on data training and website development.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="https://cdn.discordapp.com/attachments/990085274254078004/997521270239395940/me.jpg" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Akira Suzuki</h4>
                <p>
                  An aspiring student entering the eleventh grade at Saint Augustine Catholic High School. Contributed to data collection and annotation, computer vision training, and some minor front end work.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="https://cdn.discordapp.com/attachments/731223393357135962/997508914864197792/unknown.png" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Alex Loan</h4>
                <p>
                  Attends Lane Technical High School in Chicago.<br>Hobbies include programming and video games.<br>In this project, helped with data collection, model training, and website development.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="https://lh3.googleusercontent.com/a-/AFdZucpxDgoT2qUhR-4K5w-yB3ToVxepp38K43Y4RdBlUQ=s634-p-rw-no" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Dev Patel</h4>
                <p>
                  Attending Turner Fenton Secondary School in Toronto. Worked on data processing and YOLO model training. 
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="https://cdn.discordapp.com/attachments/990085274254078004/997521771605536888/unknown.png" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Leo Tjong</h4>
                <p>
                  Attending UCF in the fall, worked on a wide variety of everything including data collection and frontend.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 d-flex">
            <div class="member">
              <img src="https://lh3.googleusercontent.com/4kL9-O_aSIyWnwX90iImyMx8aTy9hTkkXXbuFc5X4PUjj8S4y3AVR0kxUfbu-8V_zuCFN_aLJASmSIMpzxvYY2SP2BERbtW7nByzpFYb3VdiziRRkWlC8NeXTAO2WUkMDx4GdUtijeVYZeMSUgnCHJzKHzrJsrahSlJ6w98GFBfC3oWqT_yo8mHNHc2StGXAru1zUU4hgfP-wfPUoCW6BuqbdKtfr9UTVoOAiXLKqrDAhMVyAcZJvUamuM0qcNrCDqyQlXALO2Gok1tvQInuVhlL8NUHHV6ZC3boUQF8doiAQA2m5tRFFyANpN3snFlFv2spsxbw6aX4T1o1VaBQAoX1-Q9AINfpg8aTyT2zVCUmbmh77j8iAJSfqo_ms3D2xGFOgczrj2olkPO_nFwwlOjMq8Ub5Gguwjlu--PgEKmyvyTgxwuo3fywtnBbOgTODihwEALb_9cB3reFWOJ_eGstErexoSfZSa_gdUBQyJY9Uj-SVJyzYDI1eer6ln9i1lQ2Mv8nLDfu_in2hrUlP14bQRjQ6H52ZtNYbkBocU7TFU6RQya1XgeusrbOFX2-HHZtBqVvzVTXQ2W3ruiWdYBdm6xqooZgouPn_tWWnT74btsd0WUN20SrjtkiyLp0zzObR-6v6g0YqNBfWNAUMdYqG3vJwklxO7bxCIgJajH_IbZUNcmsKmVKLD6Hh4rYGgrSyDmnkPRvBkAnLa41CW7vQyROCwJOkG_N6ibQre-hY7TfyEQNA2lt_t-QgFg=w1190-h893-no?authuser=0" class="img-fluid" alt="">
              <div class="member-content">
                <h4>Prisha Sharma</h4>
                <p>
                  A passionate rising sophmore at Eastlake High School. Worked on data collection, machine learning, and contributed to the front end.
                </p>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Our Team Section -->

    
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{{ url_for('home') }}" class="logo d-flex align-items-center">
            <span>Parking Spot Detection</span>
          </a>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About Us</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Services</h4>
          <ul>
            <li><a href="{{ url_for('submit_file') }}">Try It Out</a></li>
          </ul>
        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
-->
  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>